## Observations and Insights

In [179]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_df=pd.merge(mouse_metadata,study_results,on = "Mouse ID")
# Display the data table for preview
mouse_df.sort_values("Mouse ID", inplace = True)
mouse_df#.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
460,a203,Infubinol,Female,20,23,30,59.523197,1
461,a203,Infubinol,Female,20,23,35,61.931650,2
459,a203,Infubinol,Female,20,23,25,56.793208,1
458,a203,Infubinol,Female,20,23,20,55.173336,1
457,a203,Infubinol,Female,20,23,15,52.777870,1
...,...,...,...,...,...,...,...,...
1887,z969,Naftisol,Male,9,30,20,57.898778,2
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [180]:
## Checking the number of mice.
## Also looking at the number of values in each column and investigating for null values
#mouse_df.isnull().any()
#mouse_df.dtypes
count = mouse_df.groupby(by = "Mouse ID")
mouse_num = len(count)
print("The number of mice in this experiement is " + str(mouse_num))

The number of mice in this experiement is 249

In [181]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicateRowsDF = mouse_df[mouse_df.duplicated(['Mouse ID', 'Timepoint'])]
duplicateRowsDF

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
908,g989,Propriva,Female,21,26,0,45.000000,0
916,g989,Propriva,Female,21,26,20,55.326122,1
915,g989,Propriva,Female,21,26,15,53.442020,0

In [182]:
#Set index to the Mouse ID
mouse_df = mouse_df.set_index('Mouse ID')

In [183]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

mouse_df = mouse_df.drop('g989', axis=0)
mouse_df

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
a203,Infubinol,Female,20,23,30,59.523197,1
a203,Infubinol,Female,20,23,35,61.931650,2
a203,Infubinol,Female,20,23,25,56.793208,1
a203,Infubinol,Female,20,23,20,55.173336,1
a203,Infubinol,Female,20,23,15,52.777870,1
...,...,...,...,...,...,...,...
z969,Naftisol,Male,9,30,20,57.898778,2
z969,Naftisol,Male,9,30,25,63.145652,2
z969,Naftisol,Male,9,30,30,65.841013,3
z969,Naftisol,Male,9,30,35,69.176246,4
z969,Naftisol,Male,9,30,45,73.867845,4

In [184]:
# Checking the number of mice in the clean DataFrame.
count = mouse_df.groupby(by = "Mouse ID")
mouse_num = len(count)
print("The number of mice in this experiement is " + str(mouse_num))

The number of mice in this experiement is 248

## Summary Statistics

In [223]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.
drugs = mouse_df["Drug Regimen"]
drugs_name = pd.unique(drugs)

tumor_vol1df = mouse_df[['Drug Regimen', 'Tumor Volume (mm3)']]

tumor_vol1df=tumor_vol1df.groupby("Drug Regimen")
mean=tumor_vol1df.mean()
median=tumor_vol1df.median()
var=tumor_vol1df.var()
std=tumor_vol1df.std()
sem=tumor_vol1df.sem()

Summary=pd.database[]

In [113]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function
tumor_vol2=mouse_df['Drug Regimen','Tumor Volume (mm3)']
tumor_vol2.describe()

KeyError: ('Drug Regimen', 'Tumor Volume (mm3)')

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen